.game {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  margin: 0;
  text-align: center;
  font-size: 40px;
  color: white;
}
.game-info {
  margin: 20px;
}
.restart {
  padding: 20px 5px;
  font-size: 30px;
  background-color: rgb(0, 0, 0);
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
}
.restart:hover {
  background-color: rgb(10, 10, 10);
}
